/* ============= RESET CSS ================ */
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    font-family: 'Kanit', sans-serif;
}
/* ================================== */